// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {

    &:hover>.ps__thumb-y,
    &:focus>.ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }

  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container>.ps {
  &.ps--active-y>.ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;

    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }

  &.ps--scrolling-y>.ps__rail-y,
  &.ps--scrolling-x>.ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {

  0%,
  50%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {

  0%,
  50%,
  100% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}

div.modal-inner-container {
  background: #fff;
  padding: 20px;
  border-radius: 13px;
}

div.modal-container {
  margin: 10px;
  outline: none;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  top: 50%;
  width: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  // color: #000;
  // border: 2px solid #000;
  box-shadow: 24px;

  text-align: left;
  -webkit-overflow-scrolling: touch; // For smoother scrolling on iOS
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Hide scrollbar in Webkit browsers (Chrome, Safari)
  }

  // Media query for mobile devices (e.g., screens with a maximum width of 768px)
  @media screen and (max-width: 768px) {
    width: 100%; // Set the width to 100% for mobile screens
  }
}

.css-1bwloip-MuiPaper-root-MuiCard-root{
  border: none;
}



// UserSettingsMainPage.scss

.skeleton-loading {
  margin: 10px;

  .skeleton-progress {
    height: 10px;
    width: 100%;
    background-color: #eee; // Light gray background
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .skeleton-title {
    height: 30px;
    width: 80%;
    background-color: #eee; // Light gray background
    border-radius: 4px;
  }
}

.text-link{
  text-decoration: none;
}

.react-calendar__viewContainer {
  color: #000; /* Set your desired text color */
}
